//- Absolute paths starting with a / are resolved in node_modules/@mathigon/studio/server/templates
extends /_layout

block vars
  - var title = 'Course Library';

block main
  .container.narrow
    h1 Courses
    +course('geography')
    +course('science')
    include /_footer
