extends /_layout

block vars
  - var title = 'Custom page';
  - var styles = ['/custom.css'];
  - var scripts = ['/custom.js'];

block main
  h1 Custom Page
  p Here is a custom page for non-course content.
