// (1) Define any custom variable overrides:
$red: #db0e0e;
$blank-color: #07b1c8;
$glossary-color: #e26f0a;
$dark-grey: #1a1a2f;

// (2) Import the default styles:
@import "../node_modules/@mathigon/studio/frontend/course";
