svg(width=70 height=80)
  path(d="M20.5,7.4,27.2,24c-1.9-4.7,6-7.1,8-2.3l1.4,3.6c-1.9-4.8,6.1-7.1,8-2.3l1.3,3.1c-2-4.7,5.7-6.5,7.7-1.8,3.3,7.8,5.8,13.6,9,21.3S60.8,56.2,65,66.7L44.9,75A13.9,13.9,0,0,0,36,66.9c-7.7-2.2-11.4-8.3-18.4-14.3a44.2,44.2,0,0,0-9.5-6.5c-2.6-1.5-4.2-3.4-2.2-5.7,3.5-4.1,9.3-1.3,13.1,1.5,1.6,1.2,4.4,4.1,5.9,3.8s1.7-.8,1-2.6L12.8,10.5c-1.9-4.7,5.8-7.9,7.7-3.1Z")
