// =============================================================================
// Alert Styles
// (c) Mathigon
// =============================================================================


@import "../../styles/variables";

.snackbar {
  position: fixed;
  top: 52px;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%);
}

x-alert {
  background: $primary;
  border-radius: 6px;
  box-shadow: $shadow;
  padding: 8px 20px;
  color: white;
  display: none;
  max-width: 300px;
  font-size: 16px;
  line-height: 1.4;
  width: max-content;

  x-icon { margin: -2px 6px 20px -4px; float: left; }
  &.error { background: darken($error, 5%); }
  &.success { background: darken($success, 5%); }
}
