.text-area(contenteditable="true")
.toolbar
  button.command(data-command="bold"): x-icon(name="bold" size=20)
  button.command(data-command="italic"): x-icon(name="italic" size=20)
  button.command(data-command="underline"): x-icon(name="underline" size=20)
  .space
  button.btn.btn-green.submit #[x-icon(name="check")] #{__('Done')}
