.video-wrap: video(playsinline)
.credit
x-play-btn
.controls
  .shadow
  button.play-pause-btn(tabindex="0" aria-label=__("Play video"))
    .play-icon: x-icon(name="play" size=32)
    .pause-icon: x-icon(name="pause" size=32)
  .timeline
    .bar
      .background
      .buffer
      .progress
    .handle
  .timecode
